.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-inline: 24px;
    margin-block: 40px;
    width: 100%;
}

.link {
    position: relative;
    padding-bottom: 22px;
    color: var(--clr-black-900);
    text-align: center;
    text-transform: uppercase;
    isolation: isolate;
}

.link::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 48px;
    background-color: var(--clr-white-700);
    border-radius: 8px;
    z-index: -1;
}

.link h6 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.07px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.shop_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.shop_btn span {
    font: var(--font-sub);
    letter-spacing: var(--space-sub);
    opacity: 0.5;
}