.section {
    padding-block: 16px;
    padding-inline: 24px;
}

.section > a {
    display: block;
    margin-bottom: 24px;
    color: inherit;
    font-weight: 500;
    opacity: 0.5;
}

.page_grid {
    display: grid;
    row-gap: 88px;
    margin-bottom: 64px;
}

.page_grid > div:nth-child(2) {
    display: grid;
    row-gap: 88px;
}

.heading {
    display: grid;
    row-gap: 32px;
}

.heading img {
    border-radius: 8px;
}

.heading > div {
    display: grid;
    row-gap: 24px;
}

.heading h6 {
    color: var(--clr-beige-800);
    font: var(--font-overline);
    letter-spacing: var(--space-overline);
}

.heading h2 {
    font: var(--font-product-head);
    letter-spacing: var(--space-product-head);
}

.heading h5 {
    font-size: 18px;
    letter-spacing: 1.29px;
    font-weight: bold;
}

.heading p {
    opacity: 0.5;
}

.features p {
    margin-block: 25px;
}

.box_list {
    list-style: none;
    margin-top: 24px;
}

.box_item {
    display: grid;
    grid-template-columns: 39px 1fr;
    margin-top: 8px;
}

.quantity {
    color: var(--clr-beige-800);
    font-weight: bold;
}

.item {
    opacity: 0.5;
}