.button {
    height: 48px;
    padding-inline: 30px;
    font: inherit;
    border: none;
    border-radius: 0;
    font: var(--font-sub);
    letter-spacing: var(--space-sub);
}

.beige {
    background-color: var(--clr-beige-800);
}

.black {
    background-color: var(--clr-black-900);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--clr-black-900);
}

.beige,
.black,
.beige > a,
.black > a {
    color: var(--clr-white-900);
}

.outline,
.outline > a {
    color: var(--clr-black-900);
}

.button:has(a) {
    padding-inline: 0;
}

.button > a {
    padding-inline: 30px;
    width: 100%;
}