.button {
    position: relative;
    height: 48px;
    padding-inline: 30px;
    font: inherit;
    border: none;
    border-radius: 0;
    font: var(--font-sub);
    letter-spacing: var(--space-sub);
    overflow: hidden;
}

.button[data-submitting='true'] {
    opacity: 0.5;
}

.button[data-submitting='true']::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent 35%, var(--clr-white-900) 50%, transparent 65%);
    opacity: 0.3;
    animation: submitting-slide 1.3s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}

@keyframes submitting-slide {
    from {
        transform: translateX(-50%);
    } to {
        transform: translateX(50%);
    }
}

.beige {
    background-color: var(--clr-beige-800);
}

.black {
    background-color: var(--clr-black-900);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--clr-black-900);
}

.beige,
.black,
.beige > a,
.black > a {
    color: var(--clr-white-900);
}

.outline,
.outline > a {
    color: var(--clr-black-900);
}

.button:has(a) {
    padding-inline: 0;
}

.button > a {
    padding-inline: 30px;
    width: 100%;
}