.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-inline: 24px;
    padding-block: 54px 38px;
    background-color: var(--clr-black-800);
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 101px;
    height: 4px;
    background-color: var(--clr-beige-800);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.links a {
    color: var(--clr-white-900);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer p {
    font: var(--font-body);
    color: var(--clr-white-900);
    opacity: 0.5;
    text-align: center;
}

.socials {
    display: flex;
    align-items: center;
    gap: 16px;
}

.socials button {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
}