.header,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > button {
    font: inherit;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    opacity: 0.5;
}

.cart_items {
    margin-block: 32px;
}

.total {
    margin-bottom: 24px;
}

.total span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}