.header,
.item,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > button {
    font: inherit;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    opacity: 0.5;
}

.cart_items {
    margin-block: 32px;
}

.item {
    gap: 16px;
    margin-bottom: 24px;
}

.item img {
    border-radius: 8px;
}

.item_info {
    flex-grow: 1;
}

.item_info > * {
    display: block;
}

.item > div:last-child {
    height: 32px;
    width: 96px;
}

.total {
    margin-bottom: 24px;
}

.total span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}