.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  width: 100%;
  padding-block: 32px;
  padding-inline: max(40px, calc(50vw - 555px));
  z-index: 20;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: max(40px, calc(50vw - 555px));
  right: max(40px, calc(50vw - 555px));
  height: 1px;
  background-color: var(--clr-white-100);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header > button:last-of-type {
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-inline: 24px;
  }

  .header::after {
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding-block: 36px;
  }
}

@media screen and (min-width: 769px) {
  .header > button:first-of-type {
    display: none;
  }
}
