.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 24px;
    padding-block: 32px;
    border-bottom: 1px solid var(--clr-white-100);
}