.price_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.price_container > div:nth-of-type(3) {
    margin-bottom: 24px;
}

.price_container > div span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}

.price_container > div:last-of-type span {
    color: var(--clr-beige-800);
}