.hero {
    position: relative;
}

.hero_img {
    display: flex;
    width: 100%;
    height: auto;
}

.hero_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-white-900);
}

@media screen and (min-width: 769px) {
    .hero_content {
        left: min(4%, 165px);
        transform: translateX(0);
        align-items: flex-start;
    }
}

.hero_content h1 {
    text-transform: uppercase;
}

.hero_content h2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10px;
    opacity: 0.5;
}

.hero_content p {
    margin-top: 24px;
    margin-bottom: 28px;
}

@media screen and (max-width: 480px) {
    .hero_content p {
        margin-inline: 24px;
    }
}

@media screen and (min-width: 481px) {
    .hero_content h2 {
        margin-bottom: 24px;
    }

    .hero_content p {
        margin-bottom: 40px;
    }
}